.hidden{
  display: none;
}

#inputId-layoutGet{
  width: 42px
}
.navbar {
    width: 100%;
}

.container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #navbarNav {
    margin-left: auto; 
  }