.hidden{
  display: none;
}

#inputId-layoutGet{
  width: 42px
}
.navbar {
    width: 100%;
}

.container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #navbarNav {
    margin-left: auto; 
  }

  body {
    background: radial-gradient(circle, rgba(255, 253, 253, 0.2), rgba(3, 48, 248, 0.3));
}